@CHARSET "UTF-8";
.grp_contents { margin:25px 45px; width:69%;height:70ex; float:left;}
#show_reply { margin:15px 15px 0 0; float:right; font-size:5px; }
#board_uploaded { margin:20px auto; }
#board_uploaded, #board_upload { border:3px solid #44619D; border-radius:5px; }
#upload_content { background-color:inherit; margin-top:12px; width:665px; margin-left:12px; border:0px; resize:none; }
#uploadbtn { margin-left:450px; }
#user table {float:left;}
#userstc, #uploaded_date { font-size:x-small; }
#username {	padding-right:5px; font-size:medium; font-weight:bold; }
#usercontent { width:655px; padding:5px; margin:70px 20px 15px 20px; font-size:small; }
#main_contents { float:left; width: 100%; margin:1.365% auto; }
.uploadtools { padding-left: 5px; padding-top: 9px;}
.uploadtools > img { margin : 0 15px; }