{{#each boardRequests}}
<div id='request_{{boardNo}}_{{memberNo}}' class='board_request'>
         <div class='writer_photo'>
         
            <img class='photo' onerror='this.src="../icon/64x64/row 9/1.png";' src='/iumui/fileupload/{{userPhoto}}'>
            
         </div>
           
        <div class='board_info'>
          <div class='top_style'>
            <div id='requestStatus{{statusNo}}' class='requester'><span style="color: #44619D;">{{userName}}</span>&nbsp;<span style="font-size:0.8em;">{{statusContent}}</span></div>
            <div class='regDate cregDate'>{{requestDate}}</div>
          </div>
          <div class='request_button statusNo{{statusNo}}'>
            <button type="button" class="btn btn-default btn-xs btnRAccept" 
              reqVal='bno={{boardNo}}&mno={{memberNo}}'>수락</button> &nbsp; 
            <button type="button" class="btn btn-default btn-xs btnRReject" 
              reqVal='bno={{boardNo}}&mno={{memberNo}}'>거절</button>
          </div>
       </div>
    </div>
{{/each}}
