@CHARSET "UTF-8";

/* 검색바 start */
.searchDiv {
	margin: 0 8px 0 0;
}

#datePicker {
	width:155px;
	float:left;
}

#selectState, #selectCity, #selectSubj {
	width:76px;
	float:left;
}

#keyword {
	width: 200px;
	float:left;
}

.searchBtn {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
	color: #fff;
  background-color: rgb(60,77,0);
  border-color: rgb(60,77,0);
}

.searchBtn:hover,
.searchBtn:focus,
.searchBtn.focus,
.searchBtn:active,
.searchBtn.active,
.open > .dropdown-toggle.searchBtn {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.searchBtn:active,
.searchBtn.active,
.open > .dropdown-toggle.searchBtn {
  background-image: none;
}
.searchBtn.disabled,
.searchBtn[disabled],
fieldset[disabled] .searchBtn,
.searchBtn.disabled:hover,
.searchBtn[disabled]:hover,
fieldset[disabled] .searchBtn:hover,
.searchBtn.disabled:focus,
.searchBtn[disabled]:focus,
fieldset[disabled] .searchBtn:focus,
.searchBtn.disabled.focus,
.searchBtn[disabled].focus,
fieldset[disabled] .searchBtn.focus,
.searchBtn.disabled:active,
.searchBtn[disabled]:active,
fieldset[disabled] .searchBtn:active,
.searchBtn.disabled.active,
.searchBtn[disabled].active,
fieldset[disabled] .searchBtn.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.searchBtn .badge {
  color: #5bc0de;
  background-color: #fff;
}
/* 검색바 end */}